*{
    text-align: center;
}

.time{
    font-size: 100px;
}

.Btn{
   
    display: flex;
    /* 横幅をtimeにそろえたいが出来ないでいる */
    margin: 5% auto;
    width: 500px;
    justify-content: space-between;
}

.button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
}

#reset{
    background-color: rgb(172, 168, 168);
    border: none;
}
#start{
    color: rgb(245, 251, 245);
    /* background-color: rgb(61, 190, 111); */
    background: linear-gradient(-20deg, #d558c8 0%, #0dcbff 100%);
    border: none;
}
